* {
   margin: 0;
   padding: 0;
   font-size: 1.5vw;
   border-radius: 1vh;
   box-sizing: border-box;
}

div, button {
   padding: 1vh 1vw;
}

@media all and (orientation: portrait) {
   * {
      font-size: 1.5vh;
   }
}

@media only screen and (orientation: landscape) {
   * {
      font-size: 1.5vw;
   }
}

body {
   font-family: Arial, serif;
   height: 100vh;
   width: 100%;
   padding: 2vh 1vw;
   background-color: #E7F9FF;
}

table {
   height: 70vh;
   table-layout: fixed;
   width: 100%;
   text-align: center;
}

tr {

}

td {
   border-top-width: 0.5vh;
   border-bottom-width: 0.5vh;
   border-left-width: 0.25vw;
   border-right-width: 0.25vw;
   border-color: #0077b6;
   border-style: solid;
   height: max-content;
}

td:hover {
   border-color: #35B535;
}

.pane, #btn {
   color: white;
   padding: 2vh;
   height: 7vh;
}

#btn {
   border: 0;
   background-color: #FFAA1D;
   width: 20%;
   float: right;
}

#btn:hover {
   background-color: #c57c00;
}

#active {
   border-color: #FFAA1D;
}

#message {
   background-color: #0077b6;
   margin-bottom: 1vh;
}

#status {
   background-color: #35B535;
   display: inline-block;
   width: 79%;
   margin-bottom: 1vh;
}

#error {
   background-color: #FF4242;
   margin-top: 1vh;
}

.block {
   background-color: #0077b6;
}

.empty {
}

.black {
   background-color: black;
   border-color: black;
   color: white;
}

.red {
   background-color: #D01B1B;
   border-color: #D01B1B;
   color: white;
}

.red td {
   border: 0;
}